<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 底部 -->
<footer th:fragment="footer-fragment" id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
    <div class="pull-right">
        精心制作 <i class="fa fa-heart text-city"></i> 通过 <a class="font-w600" href="" target="_blank">pixelcave</a>
    </div>
    <div class="pull-left">
        <a class="font-w600" href="javascript:void(0)" target="_blank">Blog 1.0</a> &copy; <span class="js-year-copy">2019-10</span>
    </div>
</footer>
<!-- END 底部 -->
</html>